* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}
body {
    min-height: 200vh;
    background-color: #d7a4d9;
    overflow: hidden;
}
h3 {
    color: #3F69CA
}

 /* Preloader Code */ 

  .preload {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #77b3d4;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5 ease;
    z-index: 9999;
  }
  
  .cloud1,
  .cloud2,
  .cloud3{
    height: 100px;
    position: absolute;
    right: 0%;
    z-index: -1;
  }
  
  .cloud1 {
    top: 25%;
    transform: translate(100%, -25%);
    animation: clouds 3s ease infinite;
  }
  
  .cloud2 {
    top: 50%;
    transform: translate(100%, -50%);
    animation: clouds 3s ease infinite 2s;
  }
  
  .cloud3 {
    top: 75%;
    transform: translate(100%, -75%);
    animation: clouds 3s ease infinite 4s;
  }

  
  .airplane {
    height: 200px;
    animation: airplane 1s ease infinite alternate;
  }
  
  @keyframes airplane {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(50px);
    }
  }
  
  @keyframes clouds {
    from {
      right: 0%;
    }
    to {
      right: 130%;
    }
  }
  
  .preload .land {
    position: absolute;
    top: 75%;
    transform: translateY(-75%);
    color: white;
    font-size: 30px;
    font-family: sans-serif;
  }

/* Navbar */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 9990;
    font-family: "Hind";
}
header.sticky {
    padding: 5px 100px;
    background: #F5F5F5;
    font-family: "Hind";
}
header .logo {
    position: relative;
    font-weight: 700;
    color: #F5F5F5;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
    font-family: "Hind";
}
header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Hind";
}
header ul li {
    position: relative;
    list-style: none;
    font-family: "Hind";
}
header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #F5F5F5;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
    font-family: "Hind";
    font-size: 20px;
}
header ul li a:hover {
    text-decoration: underline;
    color: black;
}
header.sticky .logo, header.sticky ul li a {
    color: #000;
    font-family: "Hind";
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    max-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.ddtext1 {
    position: relative;
    left: -5px;
}
.ddtext1:hover {
    color: #00B800;
}
.ddtext2 {
    position: relative;
    left: -15px;
}
.ddtext2:hover {
    color: #14adb3
}
.ddtext3 {
    position: relative;
    left: -20px;
}
.ddtext3:hover {
    color: #E0A800;
}
.information {
    background: linear-gradient( rgb(24, 23, 23, 0.4), rgb(24, 23, 23, 0.4)), url("blackbg.jpg");
    background-size: cover;
    height: 100vh;
}
.name {
    position: relative;
    top: 300px;
    right: 200px;
    text-align: center;
    color: #20A4F3;
    font-family: "Hind";
    animation: fadeIn ease 4s;
    font-size: 80px;
}
.text {
    position: relative;
    top: 300px;
    text-align: center;
    font-family: "Hind";
    text-transform: uppercase;
}
.text h1 {
    font-size: 50px;
    color: #222;
}
.text span {
    font-size: 50px;
    animation: light 2s linear infinite;
}
/* Carousel */

#slider {
    overflow: hidden;
}
#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 25s slider infinite;
}
#slider figure img {
    width: 20%;
    float: left;
}
@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}
.caption {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#about {
	text-align: center;
	font-size: 48px;
	font-weight: bold;
	background-color: gray;
	color: #FF8585;
	padding: 10px;
	width: 100%;
	position: relative;
}
#welcome {
	text-align: center;
	font-size: 38px;
	background: url("purple3.jpg");
	background-size: cover;
	height: 80vh;
	color: #3E6990;
	padding: 10px;
	width: 100%;
	position: relative;
}
.hover-text {
	font-weight: lighter;
	position: relative;
	top: 50px;
}
#welcome2 {
	text-align: center;
	font-size: 38px;
	background: url("purple2.jpg");
	background-size: cover;
	height: 65vh;
	color: #3E6990;
	padding: 10px;
	width: 100%;
	position: relative;
}
.welcome-disc {
	position: relative;
	top: 30px;
	text-align: center;
	font-size: 22px;
	color: black;
}
.containercar {
	margin: -100px auto;
	width: 250px;
	height: 200px;
	position: relative;
	top: 300px;
	perspective: 1000px;
}
.carousel {
	height: 100%;
	width: 100%;
	position: absolute;
	top: -50px;
	transform-style: preserve-3d;
	transition: transform 1s;
}
.item {
	display: block;
	position: absolute;
	background: #000;
	width: 250px;
	height: 200px;
	line-height: 200px;
	font-size: 5em;
	text-align: center;
	color: #FFF;
}
.item.active {
	cursor: pointer;
}
.a {
	transform: rotateY(0deg) translateZ(250px);
}
.b {
	transform: rotateY(120deg) translateZ(250px);
}
.c {
	transform: rotateY(240deg) translateZ(250px);
}

.content {
	position: relative;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: 400px;
}
.containercar .title {
	color: #1a1a1a;
	text-align: center;
	margin-bottom: 10px;
}
.carousel .content-overlay, .content .content-overlay {
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	height: 100%;
	width: 100%;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}

.carousel .item.active:hover .content-overlay {
	opacity: 1;
}
.content-image {
	width: 100%;
}
.content-details {
	position: absolute;
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
	width: 100%;
	top: 50%;
	left: 50%;
	opacity: 0;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.content:hover .content-details {
	top: 50%;
	left: 50%;
	opacity: 1;
}
.content-details h3 {
	color: #fff;
	font-weight: 500;
	letter-spacing: 0.15em;
	margin-bottom: 0.5em;
	text-transform: uppercase;
}
.content-details p {
	color: #fff;
	font-size: 0.8em;
}
.fadeIn-bottom {
	top: 80%;
}

.content .content-overlay {
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	height: 99%;
	width: 100%;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.content:hover .content-overlay {
	opacity: 1;
}

.carousel_content-details {
	position: absolute;
	text-align: center;
	width: 100%;
	top: 50%;
	left: 50%;
	opacity: 0;
	margin: 0;
	padding: 0;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.carousel .item.active:hover .carousel_content-details {
	top: 50%;
	left: 50%;
	opacity: 1;
}
.carousel_content-details h3 {
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.15em;
	margin-bottom: 0.5em;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}
.carousel_fadeIn-bottom {
	top: 50%;
}
body {
	font: 600 12px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
a {
	color: inherit;
}
.modal-window div:not(:last-of-type) {
	margin-bottom: 15px;
}
small {
	color: yellow;
}
.btn i {
	padding-right: 0.3em;
}
*, *:before, *:after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.main-title {
	color: #2d2d2d;
	text-align: center;
	text-transform: capitalize;
	padding: 0.7em 0;
}

.modal-window {
	position: fixed;
	background-color: rgba(255, 255, 255, 0.25);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	transition: all 0.7s;
}
.modal-window:target {
	visibility: visible;
	opacity: 1;
	pointer-events: auto;
	border-radius: 20%;
}
.modal-window>div {
	width: 650px;
	height: 700px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 2em;
	background-image: url("red1.jpg");
	z-index: 100;
	border-radius: 5%;
}
.modal-window header {
	font-weight: bold;
}
.modal-window h1 {
	font-size: 150%;
	margin: 0 0 15px;
}
.modal-close {
	color: lightblue;
	line-height: 50px;
	font-size: 80%;
	position: relative;
	left: 550px;
	right: 0;
	text-align: center;
	top: 15;
	width: 70px;
	text-decoration: none;
}
.modal-close:hover {
	color: black;
}
.modal-gal {
	color: lightblue;
	line-height: 50px;
	position: relative;
	left: -20px;
	text-align: center;
	top: 20px;
	width: 70px;
	text-decoration: none;
}
.modal-gal:hover {
	color: black;
}
.disc {
	color: #E0E0E0;
}
.timebox {
	position: relative;
	top: 310px;
	left: 443px;
}
.left {
	position: relative;
	top: -50px;
	left: 140px;
}
.mapchina {
	position: relative;
	top: -50px;
}
.book {
	position: relative;
	top: -533px;
	left: 450px;
}
.pictures {
	position: relative;
	top: -533px;
	left: 350px;
}

.booking {
	position: relative;
	top: 10px;
	left: 10px;
}
.btn2 {
	display: inline-block;
	text-decoration: none;
	background: #5498e6;
	color: #FFF;
	width: 150px;
	height: 80px;
	line-height: 75px;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	transition: .4s;
	position: relative;
	top: 22px;
	left: -40px;
}
.btn2:hover {
	background: #668ad8;
	color: black;
	animation: light 2s linear infinite;
}

.paristimebox {
	position: relative;
	top: 310px;
	left: 450px;
}
.parishead {
	position: relative;
	top: -15px;
	left: 15px;
}
#paristime {
	position: relative;
	top: -20px;
	left: 10px;
	color: black;
}

.map {
	position: relative;
	top: -50px;
}


.container2 {
	display: grid;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
}
.content2 {
	position: relative;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: 400px;
}
.content2 .content-overlay {
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	height: 99%;
	width: 100%;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.content2:hover .content-overlay {
	opacity: 1;
}
.content2:hover .content-details {
	top: 50%;
	left: 50%;
	opacity: 1;
}

.time {
	position: relative;
	top: -500px;
	left: 440px;
}


.city {
	position: relative;
	left: -27px;
}


.container3 {
	display: grid;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
}
.content3 {
	position: relative;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: 400px;
}
.container3 .title {
	color: #1a1a1a;
	text-align: center;
	margin-bottom: 10px;
}
.content3 .content-overlay {
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	height: 99%;
	width: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.content3:hover .content-overlay {
	opacity: 1;
}
.content3:hover .content-details {
	top: 50%;
	left: 50%;
	opacity: 1;
}





@media (min-width: 200px) and (max-width: 899px) {
	.next, .prev {
		color: #444;
		position: absolute;
		top: -140px;
		padding: 1em 2em;
		cursor: pointer;
		background: #CCC;
		border-radius: 5px;
		border-top: 1px solid #FFF;
		box-shadow: 0 5px 0 #999;
		transition: box-shadow 0.1s, top 0.1s;
	}
	.next:hover, .prev:hover {
		color: #000;
		animation: roll 1s infinite;
	transform: rotate(30deg);
	}
	.next:active, .prev:active {
		top: -140px;
		box-shadow: 0 1px 0 #999;
	}
	@keyframes roll {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
	.next {
		left: 25em;
	}
	.prev {
		right: 25em;
	}
	.hover-text {
		font-size: 25px;
		font-weight: lighter;
		position: relative;
		top: 50px;
	}
	.welcome-disc {
		position: relative;
		top: 30px;
		text-align: center;
		font-size: 22px;
		color: black;
	}
	.disc {
		color: #E0E0E0;
	}
	.timebox {
		position: relative;
		top: 310px;
		left: 443px;
	}
	.left {
		position: relative;
		top: -50px;
		left: 140px;
	}
	.mapchina {
		position: relative;
		top: -50px;
	}
	.content-title {
		font-size: 12px;
	}
	.book {
		position: relative;
		top: -533px;
		left: 450px;
	}
	.pictures {
		position: relative;
		top: -533px;
		left: 350px;
	}
	.time {
		position: relative;
		top: -500px;
		left: 440px;
	}
	.booking {
		position: relative;
		top: 10px;
		left: 10px;
	}
	.btn2 {
		display: inline-block;
		text-decoration: none;
		background: #5498e6;
		color: #FFF;
		width: 150px;
		height: 80px;
		line-height: 75px;
		border-radius: 50%;
		text-align: center;
		vertical-align: middle;
		overflow: hidden;
		transition: .4s;
		position: relative;
		top: 22px;
		left: -40px;
	}
	.btn2:hover {
		background: #668ad8;
		color: black;
		animation: light 2s linear infinite;
	}



	.beijing {
		position: relative;
		top: -10px;
		left: 2px;
	}
	#beijingtime {
		position: relative;
		top: -10px;
		color: black;
	}
	.parishead {
		position: relative;
		left: 5px;
	}
	#paristime {
		position: relative;
		left: -3px;
	}
	.city {
		position: relative;
		top: -10px;
	}
	#nytime {
		position: relative;
		top: -15px;
		color: black;
	}
	section.footer {
		background-color: purple;
		position: relative;


	}
	.footer__content {
		padding: 25px;
		text-align: center;
		color: #fff;
		background-color: purple;
	}

	.footimg{
		position: relative;
		left: 0px;
	}
	.footer__heading {
		position: relative;
	}
	.footer__heading h2 {
		background-color: purple;
		display: inline-block;
		padding: 0px 10px;
		position: relative;
		z-index: 9999;
	}
	.footer__heading::after {
		content: "";
		position: absolute;
		left: 50%;
		top: 80px;
		height: 5px;
		margin: 0;
		border-radius: 50px;
		width: 4.5%;
		transform: translate(-50%, -50%);
		background-color: rgb(255, 255, 255);
	}
	.footer__content p {
		font-size: 12px;
		font-weight: 100;
		padding: 10px 0px;
		position: relative;
		top: 10px;
	}
	ul.social__media {
		margin: 0;
		padding: 0;
		display: inline-block;
		margin-top: 15px;
	}
	ul.social__media li {
		list-style-type: none;
		display: inline-block;
		margin-right: 15px;
	}
	ul.social__media li a {
		color: #FFF;
		font-size: 20px;
	}
	ul.social__media li {
		text-align: center;
		height: 45px;
		width: 45px;
		border-radius: 50px;
		background-color: #fd554e;
		line-height: 40px;
		border: 2px solid #545d5d;
		box-shadow: 0px 1px #FFF;
		box-shadow: 0 2px 10px -1px rgba(0, 0, 0, 0.55), 0 0px 20px 0px rgba(0, 0, 0, 0.55);
	}
	ul.bus__list {
		padding: 0;
		margin: 0;
	}
	ul.bus__list li {
		list-style-type: none;
		margin-bottom: 5px;
	}
	.copyright {
		font-weight: bold;
	}
	.fa-facebook-f:before, .fa-facebook:before {
		content: "\f09a";
		position: relative;
		top: 10px;
	}
	.fa-twitter:before {
		content: "\f099";
		position: relative;
		top: 10px;
	}
	.fa-instagram:before {
		content: "\f16d";
		position: relative;
		top: 10px;
	}
}

@media (min-width: 900px) {
	.next, .prev {
		color: #444;
		position: absolute;
		top: 10px;
		padding: 1em 2em;
		cursor: pointer;
		background: #CCC;
		border-radius: 5px;
		border-top: 1px solid #FFF;
		box-shadow: 0 5px 0 #999;
		transition: box-shadow 0.1s, top 0.1s;
	}
	.next:hover, .prev:hover {
		color: #000;
	}
	.next:active, .prev:active {
		top: 10px;
		box-shadow: 0 1px 0 #999;
	}
	.next {
		left: 35em;
	}
	.prev {
		right: 35em;
	}
	.welcome-disc {
		position: relative;
		top: 30px;
		text-align: center;
		font-size: 28px;
		color: black;
	}
	.container {
		display: grid;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: auto;
	}
	.content {
		position: relative;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		max-width: 400px;
	}
	.container .title {
		color: #1a1a1a;
		text-align: center;
		margin-bottom: 10px;
	}
	.content .content-overlay {
		background: rgba(0, 0, 0, 0.7);
		position: absolute;
		height: 99%;
		width: 100%;
		opacity: 0;
		-webkit-transition: all 0.4s ease-in-out 0s;
		-moz-transition: all 0.4s ease-in-out 0s;
		transition: all 0.4s ease-in-out 0s;
	}
	.content:hover .content-overlay {
		opacity: 1;
	}
	.content-image {
		width: 100%;
	}
	.content-details {
		position: absolute;
		text-align: center;
		padding-left: 1em;
		padding-right: 1em;
		width: 100%;
		top: 50%;
		left: 50%;
		opacity: 0;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		-webkit-transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		transition: all 0.3s ease-in-out 0s;
	}
	.content:hover .content-details {
		top: 50%;
		left: 50%;
		opacity: 1;
	}
	.content-details h3 {
		color: #fff;
		font-weight: 500;
		letter-spacing: 0.15em;
		margin-bottom: 0.5em;
		text-transform: uppercase;
	}
	.content-details p {
		color: #fff;
		font-size: 0.8em;
	}
	.fadeIn-bottom {
		top: 80%;
	}
	.book {
		position: relative;
		top: -525px;
		left: 460px;
	}
	.pictures {
		position: relative;
		top: -533px;
		right: -350px;
		padding: 5px;
	}
	.time {
		position: relative;
		top: -515px;
		left: 450px;
	}
	.timebox {
		position: relative;
		left: 460px;
		top: 290px;
	}
	#beijingtime {
		position: relative;
		left: -7px;
		top: -7px;
		color: black;
	}
	.booking {
		position: relative;
		left: 10px;
	}
	.disc {
		color: #E0E0E0;
	}

	.map {
		position: relative;
		left: 7px;
		top: -45px;
	}

	.container2 {
		display: grid;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: auto;
	}
	.content2 {
		position: relative;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		max-width: 400px;
	}
	.content2 .content-overlay {
		background: rgba(0, 0, 0, 0.7);
		position: absolute;
		height: 99%;
		width: 100%;
		opacity: 0;
		-webkit-transition: all 0.4s ease-in-out 0s;
		-moz-transition: all 0.4s ease-in-out 0s;
		transition: all 0.4s ease-in-out 0s;
	}
	.content2:hover .content-overlay {
		opacity: 1;
	}
	.content2:hover .content-details {
		top: 50%;
		left: 50%;
		opacity: 1;
	}
	.beijing {
		position: relative;
		top: -5px;
		left: -5px;
	}
	.parishead {
		position: relative;
		top: -30px;
	}
	#paristime {
		position: relative;
		top: -30px;
	}
	.city {
		position: relative;
		top: -5px;
		left: -30px;
	}
	#nytime {
		position: relative;
		top: -10px;
		color: black;
	}

	.container3 {
		display: grid;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: auto;
	}
	.content3 {
		position: relative;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		max-width: 400px;
	}
	.container3 .title {
		color: #1a1a1a;
		text-align: center;
		margin-bottom: 10px;
	}
	.content3 .content-overlay {
		background: rgba(0, 0, 0, 0.7);
		position: absolute;
		height: 99%;
		width: 100%;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		opacity: 0;
		-webkit-transition: all 0.4s ease-in-out 0s;
		-moz-transition: all 0.4s ease-in-out 0s;
		transition: all 0.4s ease-in-out 0s;
	}
	.content3:hover .content-overlay {
		opacity: 1;
	}
	.content3:hover .content-details {
		top: 50%;
		left: 50%;
		opacity: 1;
	}
	section.footer {
		background-color: purple;
		position: relative;

	}
	.footer__content {
		padding: 25px;
		text-align: center;
		color: #fff;
		background-color: purple;
	}
	.footimg{
		position: relative;
		left: 0px;
	}
	.footer__heading {
		position: relative;
	}
	.footer__heading h2 {
		background-color: purple;
		display: inline-block;
		padding: 0px 10px;
		position: relative;
		z-index: 9999;
	}
	.footer__heading::after {
		content: "";
		position: absolute;
		left: 50%;
		top: 80px;
		height: 5px;
		margin: 0;
		border-radius: 50px;
		width: 4.5%;
		transform: translate(-50%, -50%);
		background-color: rgb(255, 255, 255);
	}
	.footer__content p {
		font-size: 12px;
		font-weight: 100;
		padding: 10px 0px;
		position: relative;
		top: 10px;
	}
	ul.social__media {
		margin: 0;
		padding: 0;
		display: inline-block;
		margin-top: 15px;
	}
	ul.social__media li {
		list-style-type: none;
		display: inline-block;
		margin-right: 15px;
	}
	ul.social__media li a {
		color: #FFF;
		font-size: 20px;
	}
	ul.social__media li {
		text-align: center;
		height: 45px;
		width: 45px;
		border-radius: 50px;
		background-color: #fd554e;
		line-height: 40px;
		border: 2px solid #545d5d;
		box-shadow: 0px 1px #FFF;
		box-shadow: 0 2px 10px -1px rgba(0, 0, 0, 0.55), 0 0px 20px 0px rgba(0, 0, 0, 0.55);
	}
	ul.bus__list {
		padding: 0;
		margin: 0;
	}
	ul.bus__list li {
		list-style-type: none;
		margin-bottom: 5px;
	}
	.copyright {
		font-weight: bold;
	}
	.fa-facebook-f:before, .fa-facebook:before {
		content: "\f09a";
		position: relative;
		top: 10px;
	}
	.fa-twitter:before {
		content: "\f099";
		position: relative;
		top: 10px;
	}
	.fa-instagram:before {
		content: "\f16d";
		position: relative;
		top: 10px;
	}
}


